<details>
<summary>Dumb mit Stuxnet</summary>
<a href="http://www.jonrajewski.com/data/Malware/stuxnet.vmem.zip">   Abbild als Zip herunterladen</a>
    <p>Das Abbild stellt einen infizierten WindowsXP Rechner dar. 
        Bitte überprüfe ob es sich wirklich beim heruntergeladenen File um das angegebene Abbild handelt! </p>
    <p>MD5Hash: 8f630be089e791cc23571ce51c73df0c   </p><button onclick="myFunction()">Copy</button>
        <p>Linux: <code>echo "8f630be089e791cc23571ce51c73df0c" stuxnet.vmem.zip | md5sum -c -</code></p>
</details>
<p></p>
<script>
function myFunction() {
  var copyText = "8f630be089e791cc23571ce51c73df0c";
  copyText.select();
  document.execCommand("copy");
}
</script>
