<details><summary>Kleiner Angriffsvektor</summary>
<p><i>Heutzutage bewegen sich selbst einfache Benutze in Speichergrössen von über 1 Terabyte. Diese Speichermenge erhöht auch den Aufwand eines Forensikers der persistente Speicher untersuchen muss. Beim Arbeitsspeicher hingegen, hält sich die zu Untersuchende Menge stark an Grenzen.</i></p>
</details>

<details><summary>Laufende Aktivitäten</summary>
  <p><i>Zusätzlich beinhaltet der flüchtige Speicher Informationen über aktive Prozesse und Netzwerkverbindungen.</i></p>
</details>

<details><summary>Anti-Forensik umgehen</summary>
  <p><i>Weiter könnten Passwörter die zur Entschlüsselung eines persistenten Speichers benötigt werden, aus dem Arbeitsspeicher extrahiert und so Zugang zu mehr Beweisen erlangt werden.</i></p>
</details>

<details><summary>Temporärer Code</summary>
  <p><i>Schadcode der nur im Arbeitsspeicher geschrieben wird, kann so entdeckt und untersucht werden.</i></p>
</details>
<p></p>
